torch>=2.1
pytorch-lightning>=2.5
torchvision>=0.15
torchmetrics>=1.0
timm
transformers
wandb
omegaconf
hydra-core
einops
opencv-python
pillow
numpy
matplotlib
tqdm
scipy
scikit-learn
albumentationsx
pybind11
gitignore-parser
